/build/
/dist/
/work/
/outputs/
/publication/
/data/
/tools/vendor/
__pycache__/
*.pyc
*.exe
*.dll
*.pdb
*.gwp
*.gcw
*.gwc
*.gcx
*.gcl
*.gwa
*.gws
*.gwm
*.gnk
*.m2an
*.dds
*.wav
*.bgm
*.i64
*.idb
*.elf
*.self
*.pdf
.env
.env.*
