/build*/
/dist/
/work/
/outputs/
/publication/
/data/
/tools/vendor/
__pycache__/
*.pyc
*.exe
*.dll
*.pdb
*.obj
*.lib
*.exp
*.gwp
*.gcw
*.gwc
*.gcx
*.gcl
*.gwa
*.gws
*.gwm
*.gwmot
*.gnk
*.m2an
*.dds
*.wav
*.bgm
*.i64
*.idb
*.elf
*.self
.env
.env.*
/updater/
